
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(137deg, rgba(34,193,195,1) 0%, rgba(163,45,253,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    position: absolute;

    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.myRightCtn
{
    position: relative;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8 );
    border-radius: 25px;
    height: 560px;
    width: 400px;    
}

.video
{
    height: 100%;
    width: 100%;
    object-fit: fill; 
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.myLeftCtn
{
   position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}
.myLeftCtn header
{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row
{
    height: 100%;
 
}

.myCard
{
    position: relative;
    background: white;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);


}


.myRightCtn header
{
    color: #fff;
    font-size: 44px;
}

.box
{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
   
}

.myLeftCtn .myInput
{
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    /* padding-left: 50px; */
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.myLeftCtn .myInput:focus
{
    outline: none;
}

.myForm
{
    position: relative;
    margin-top: 50px;

}


.myLeftCtn .butt
{
    background:  linear-gradient(45deg, #bb36fd, #9b00e8 );
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
}

.myLeftCtn .butt:hover
{
    background:  linear-gradient(45deg, #c85bff, #b726ff );

}

.myLeftCtn .butt:focus
{
    outline: none;
}


.myLeftCtn .fas
{
    position: relative;
    color: #bb36fd;
    left: 36px;
}

.butt_out
{
    background:  transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.butt_out:hover
{
    border: 2px solid#eecbff;
}


.butt_out:focus
{
    outline: none;
}


.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
.ball.plain {
    background: black; }
.ball.plain:before, .ball.plain:after {
    display: none; }
.ball.bubble {
    display: flex;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: purple;
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%,
                    rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;
    transition: transform 0.3s ease; 
}


.ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%,
       rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
.ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%,
        white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.ballbox {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
